body {
    margin: 0;
    padding: 0;
    font-family:Courier, monospace;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #68230133;
    margin-bottom: 2%;
    
}

.menu-container {
    margin-top: 5%;
    text-align: left;
    background-color: #f5f5f5; /* Svetlo siva boja meni kontejnera */
    color: #000; /* Crna boja teksta */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: max-height 0.3s ease, padding-bottom 0.3s ease;
   
}


.logo div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right; /* Dodato da centriramo tekst */
}

.logo img {
    width: 60px;
    margin-right: 10px; /* Dodato margina sa desne strane */
}

.logo span {
    font-style: oblique;
    color: #311000fd;
    font-size: 16pt;
    font-weight: bold;
    opacity: 0; /* Postavi početnu vrednost na 0 */
    animation: fadeIn 1s forwards; /* Koristi fadeIn animaciju tokom 1 sekunde */
}

.fp{
    font-style: oblique;
    color: #311000fd;
    font-size: 16px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.menu-item {
    margin: 10px 0;
    cursor: pointer;
    border: 1px solidrgba(157, 52, 0, 0.333)1; /* Crni okvir */
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5; /* Zlatna pozadina */
}

.menu-item h2 {
    margin: 0;
    cursor: pointer;
    color: #311000fd;
    font-size: 22px;
}

.menu-item.active {
    background-color: #fcd8c761; /* Crna boja za aktivne stavke */
    color: #1a1a1a; /* Bela boja teksta za aktivne stavke */
}

.menu-item.active h2 {
    color: #1a1a1a; /* Bela boja teksta za aktivne stavke */
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
   /* background-color: #f5f5f5; /* Svetlo siva boja meni kontejnera */
    /*padding: 10px;*/
    border-radius: 5px;
    margin-top: 20px;
    display: none;
}

.menu-item-detail {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid  #68230158; /* Crna boja za liniju ispod stavki */
    border-right: 1px solid  #68230158; /* Crna boja za liniju ispod stavki */
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.menu-item-detail img {
    width: 50px;
    height: 50px;
    object-fit: contatin;
    margin-right: 10px;
    border-radius: 10px;
    border-right:1px solid rgb(224, 224, 224);
    border-bottom:2px solid rgb(224, 224, 224);
    box-shadow: 1px 1px 5px rgb(224, 224, 224);
}

.menu-item-info {
    flex: 1;
}

.menu-item-info p {
    margin: 0;
}

.item-price {
    font-style: oblique;
    font-weight: bold;
    font-size: 15pt;
    color:  #9c3400fd;
    text-align: right;
}

.item {
    color: #050505fd;
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.menu-item.active .submenu {
    max-height: 1000px;
    display: block;
}

.menu-item.active #menuContainer {
    padding-bottom: 50px;
}

.menu-item.active .arrow-icon {
    transform: rotate(180deg);
    /* Dodajte druge stilove po potrebi */
}

.wifi-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wifi-info {
    color: #311000fd;
    text-align: left;
    font-size: 14px;
}

.wifi-lang {
    text-align: right;
}


.bold {
    font-weight: bold;
}

.baner {
    background: linear-gradient(to right, rgba(156, 52, 0, 0.733), rgba(156, 52, 0, 0.54) 50%, rgba(156, 52, 0, 0.54) 20%,rgba(156, 52, 0, 0.733));

    color: white;
    padding: 15px; /* Povećan padding za bolju vidljivost */
    border-radius: 10px; /* Povećan radijus zaobljenja ivica */
    text-align: center; /* Tekst centriran */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 1px; /* Smanjen razmak između slova */
    display: flex;
    flex-direction: column;
    align-items: center; /* Elementi centrirani horizontalno */
}

.action-text {
    font-size: 24px; /* Povećana veličina fonta */
    font-weight: bold;
}

.center-text {
    font-size: 20px;
    margin-top: 5px; /* Povećan razmak između linija teksta */
}

.green-text {
    color: #78fd4f;
}

.price-text {
    font-size: 24px; /* Povećana veličina fonta */
    font-weight: bold;
    margin-top: 5px; /* Povećan razmak između linija teksta */
}




.offer {
    font-size: 18px;
    margin: 0;
}

.special-offer {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}